
/**
 * ShareASale logo.
 */

.logo[data-logo="ShareASale"] {
  width: 5.699632281788271em;
}

.logo[data-logo="ShareASale"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="ShareASale"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="ShareASale"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}